*{
    margin: 0;
    padding: 0;
    }
    /*Sharath Chandra Kumar_ RedID:822062066_ jadrn046*/
ul{
    display: list-item;
    margin-left: 20px;
    list-style-type: circle;

}
html {
   
    height: auto;
    width: auto;
    }
body {
    background-color: #FFE4B5;
    height: auto;
    width: auto;
    } 
header {
    background-color: #4d0000;
     height: auto;
    width: auto;
}
#heading{
text-align: center;
 font-family: "Great Vibes", cursive;
color: #d54d7b;
font-size: 50px;
font-weight: normal;
text-shadow: 0 1px 1px #fff;
position 
}
#about, #contact{
    padding-left: 10px;
  font-family: "Great Vibes", cursive;   
  color: #d54d7b;
  text-shadow: 0 1px 1px #fff;
}
p{
    font-family: "Great Vibes", cursive; 
    padding: 20px;
   
}
#footer {
   
    background-color: #4d0000;
    width: 100%;
    padding-top: 40px;
   bottom: 0px;
   color:white;
    text-align: center;
     position: relative;
  
}
#footpic{
    width:20px;
}
#foot1{
    font-size: 20px;
     font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     color: #cc3f3f;
}
#foot2{
    font-size: 15px;
     font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     color: #a31818;
}

#logo{

    width: 150px;
    height:auto;
    padding-left: 10px;
    padding-top: 10px;
}

#img1{
    width: 800px;
    height: auto;
    padding: 40px;
    display: block;
    margin: 0 auto;

}
#contactpic{
    width: 500px;
    height: auto;
    padding: 40px;
    display: block;
    margin: 0 auto;
    }
li{
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
b {
    font-size: 20px;
}
.navig {
    background-color: rgb(5,5,5);
    overflow: hidden;
    align-items: center;
}
.navig a {
    float: left;
    text-decoration: none;
    display: absolute;
    color: white;
    text-align: center;
    padding: 20px 20px;
     font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
}
.navig a:hover {
    background-color: #4d0000;
    color: #FFE4B5;
}
.navig a:active {
    background-color: black;
    color: white;
}
 .navig b {
    float: right;
    text-decoration: none;
    display: absolute;
    color: white;
    text-align: center;
    padding: 20px 20px;
    
    font-size: 17px;
}   
#main {
    background-color: #FFE4B5 !important;
    background-image: none;
    padding: 15px;
    } 
    
#cart table {
    margin-left: auto;
    margin-right: auto;
    }    
    
#cart th, td {
    background-color: white;
    padding: 5px 20px 5px 20px;
    }
    
#counter {
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: normal;
    font-size: 80%;
    color: white;
    float:right;
    }            

 #logo{
    width: 50px;
    height:auto;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}
#order_button {
    background-color: #4d0000;
    border-color: #cc0000;
    border-radius: 2px; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float:right;
    position:fixed;
    bottom:60px;
    right:20px;
}
#ordersummary{
    height:200px;
    width:200px;
    float: right;
    position:fixed;
    right:20px;
    top:200px;
    text-align: left;
    padding:10px;
    background-color: white;
    font-family:  Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border-style: double;
   
}
footer{
  position: fixed;
}
#summary{
     text-align: center;
   font-style: bold;
   border-color:#4d0000;
   border-width: 10px; 
}
#carttable{
    border-radius: 20px;
    border-color: white;
    background-color: blue;
    border-bottom: solid grey;
     
     border: 10px solid white;
    margin-left: auto;
    margin-right: auto;
     border-collapse: collapse;
      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  padding-right: 10px;
  text-align: center;
}
tr{
   border-radius: 20px;
   border: solid thin grey; 
}

#deleteButton{
      background-color: white;
   background: transparent;
    box-shadow: transparent;
    border-color: transparent;
    color: grey;
    padding: 2px 3px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;  
}
select{
    transition-delay: 19s;
}
#message_line{
  color: red;
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#shippingtable{
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
footer{
   background-color: #4d0000;
    width: 100%;
    padding-top: 40px;
   bottom: 0px;
   color:white;
    text-align: center;
  position: fixed;
}